Задание: Проанализируйте результаты эксперимента и напишите свои рекомендации менеджеру.

Mobile Games AB Testing with Cookie Cats

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [2]:
from scipy.stats import shapiro, ttest_ind
import numpy as np

import warnings
warnings.filterwarnings('ignore')
warnings.warn('DelftStack')
warnings.warn('Do not show this message')

In [3]:
df = pd.read_excel('AB_result.xlsx')

In [4]:
df.head(10)

   userid  version  sum_gamerounds  retention_1  retention_7
0     116  gate_30               3            0            0
1     337  gate_30              38            1            0
2     377  gate_40             165            1            0
3     483  gate_40               1            0            0
4     488  gate_40             179            1            1
5     540  gate_40             187            1            1
6    1066  gate_30               0            0            0
7    1444  gate_40               2            0            0
8    1574  gate_40             108            1            1
9    1587  gate_40             153            1            0

Пропущенных значений нет

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90189 entries, 0 to 90188
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   userid          90189 non-null  int64
 1   version         90189 non-null  object
 2   sum_gamerounds  90189 non-null  int64
 3   retention_1     90189 non-null  int64
 4   retention_7     90189 non-null  int64
dtypes: int64(4), object(1)
memory usage: 3.4+ MB

Распределение по количеству пользователей в тесте и контрольной группе

In [6]:
df.version.value_counts()

version
gate_40    45489
gate_30    44700
Name: count, dtype: int64

In [7]:
df.describe()

             userid  sum_gamerounds   retention_1   retention_7
count  9.018900e+04    90189.000000  90189.000000  90189.000000
mean   4.998412e+06       51.872457      0.445210      0.186065
std    2.883286e+06      195.050858      0.496992      0.389161
min    1.160000e+02        0.000000      0.000000      0.000000
25%    2.512230e+06        5.000000      0.000000      0.000000
50%    4.995815e+06       16.000000      0.000000      0.000000
75%    7.496452e+06       51.000000      1.000000      0.000000
max    9.999861e+06    49854.000000      1.000000      1.000000

In [8]:
df.userid.nunique()

90189

Проверяем есть ли статистически значимые различия между двумя группами для retention_1

In [9]:
df['retention_1'].value_counts()

retention_1
0    50036
1    40153
Name: count, dtype: int64

In [10]:
k1 = df[df['version']=='gate_30']['retention_1'].sum()
k2 = df[df['version']=='gate_40']['retention_1'].sum()

In [11]:
k1, k2

(20034, 20119)

In [12]:
n1 = df[df['version']=='gate_30']['retention_1'].shape[0]
n2 = df[df['version']=='gate_40']['retention_1'].shape[0]

In [13]:
n1, n2

(44700, 45489)

In [14]:
from statsmodels.stats import proportion

z_score, z_pvalue = proportion.proportions_ztest(np.array([k1, k2]),
                                                   np.array([n1, n2]))
print('Results are ','z_score =%.3f, pvalue = %.3f'%(z_score, z_pvalue))

Results are  z_score =1.784, pvalue = 0.074

Cтатистически значимые различия не выявлены

Проверяем есть ли статистически значимые различия между двумя группами для retention_7

In [15]:
df['retention_7'].value_counts()

retention_7
0    73408
1    16781
Name: count, dtype: int64

In [16]:
k1 = df[df['version']=='gate_30']['retention_7'].sum()
k2 = df[df['version']=='gate_40']['retention_7'].sum()
k1, k2

(8502, 8279)

In [17]:
n1 = df[df['version']=='gate_30']['retention_7'].shape[0]
n2 = df[df['version']=='gate_40']['retention_7'].shape[0]
n1, n2

(44700, 45489)

In [18]:
from statsmodels.stats import proportion

z_score, z_pvalue = proportion.proportions_ztest(np.array([k1, k2]),
                                                   np.array([n1, n2]))
print('Results are ','z_score =%.3f, pvalue = %.3f'%(z_score, z_pvalue))

Results are  z_score =3.164, pvalue = 0.002

Вывод: выявлено наличие статистически значимых различий для выборок на 7 день. Рекомендуется внести изменения по итогам А/В теста.